extends _bootstrap
append styles
    // Custom styles for this template
    link(href='/css/navbar-static-top.css', rel='stylesheet')
block body
    +navbar-static("VR-CMS","navbar")
        +nav_item("/") Home
        +nav_item_dropdown("#")(label="Dropdown")
            +nav_item("/admin/regions","active") Admin
    .container
        .jumbotron
            h2= region.name
            p= 'Location:' + region.location
            for item in vrList
                div
                    | #{item.scene_name} : 
                    | 
                    a.btn.btn-sm.btn-primary(href='/vr/' + item._id, role='button') VR Tour »
